@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');
*{
    margin: 0;
    font-family: 'Kurale', serif;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}
.hero h1{
    color: black;
    font-size: 2rem;
}
body{
    background-color: #E0E2E4;
}
header{
    position: fixed;
    z-index: 10;
    height: 90px;
    width: 100%;
    top: 0;
    left:0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #C2BAAF;
    padding-left: 5px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    min-height: 50px;
}
.logo{
    width: 80px;
    height: auto;
    border-radius: 100px;
    border: 2px solid #ecebe0;
    object-fit: contain;
    min-width: 40px;
}
header nav ul{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 50px;
    flex-direction: row;
}
ul li {
    list-style: none;
}
ul li a{
    text-decoration: none;
    color:#001d3d;
    background-color: #DAC292;
    border-radius: 15px 0px 15px 0px;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    min-width: 40px;
}
a:hover{
    background-color: #7514ca94;
}
.hero{
    width: 100%;
    height: 160vh;
    background-color: #cdb4db;
    background-image: url(/Images/hero-fondo.jpg);
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 10rem;
}

.hero-description1{
    color: #ffffff;
    font-family: 'Kurale', serif;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 5px 5px 5px #001d3d;
}
.hero-description2{
    color: #ffffff;
    font-family: 'Kurale', serif;
}

main{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.catalogo{
    height: 100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}
.hero-content{
    margin-right: 3rem
}
.hero-image{
    width: 30%;
    height: auto;
    min-width: 300px;
}
.hero-image img{
    width: 100%;
    height: auto;
    border-radius: 100px;
    border: 2px solid black;
}
.catalogo-card{
    width: 300px;
    height: 300px;
    display:flex;
    flex-direction: column;
    background-color: #ffc8dd;
    margin: 50px;
    margin-top: 100px;
    border: 2px solid black;
    min-width: 200px;
}
.catalogo-card a{
    width: 100%;
    height: 25%;
    display:flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid black;
    text-decoration: none;
}
.catalogo-card a:hover{
    background-color: #ffafcc;
}
.catalogo-card img{
    height: 75%;
}
footer{
    padding: 20px;
    background-color: pink;
}
.categoria{
    padding: 10px;
    background-color: #B9936C;
    border-radius: 30px;
    width: 100%;
}
.main-categoria{
    text-align: center;
    font-family: 'Kurale', serif;
    font-size: 30px;
    font-weight: bold;
}
.sub{
    font-family: 'Kurale', serif;
    font-size: 20px;
    margin: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
    
}
.categoria2{
    padding: 10px;
    background-color: #DAC292;
    border-radius: 30px;
    width: 100%;
}
.articulo{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}
.descripcion{
    font-family: 'Kurale', serif;
    font-size: 20px;
    
}
.par{
    background-color: #E6E2D3;
}
.impar{
    background-color: #C4B7A6;
}
.cajas{
    visibility: hidden;
    display: none;
}

.articulo img{
    min-width: 100px;
}

.contenido{
    padding-left: 50px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.agregarCarrito{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}